* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    position: relative;
    border-radius: 5px;
    min-height: 50vh;
    height: fit-content;
    text-align: center;
    padding: 40px;
    width: 40%;
    box-shadow: 0px 0px 10px 5px #00000015;
}

.container>h1 {
    margin: 0 0 20px 0;
}

#inputSection {
    margin: 10px 0;
    display: flex;
    align-items: stretch;
    height: 40px;
}

#taskInput {
    border: 1px solid gray;
    border-radius: 6px 0 0 6px;
    outline: none;
    padding: 0 10px;
    width: 100%;
}

#addTaskBtn {
    color: white;
    font-size: 0.8rem;
    font-weight: bold;
    background-color: green;
    border-radius: 0 6px 6px 0;
    padding: 0 20px;
    display: block;
    box-sizing: border-box;
    border: none;
}

#addTaskBtn:hover {
    background-color: rgb(72, 163, 19);
}

#taskList {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 10px 0;
}

.taskItem {
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: fit-content;
    width: 100%;
    padding: 10px;
    box-shadow: 0 0 1px 2px #00000015;
    list-style-type: none;
}

.taskItem>section>input[type="checkbox"]:checked+span {
    text-decoration: line-through;
    color: gray;
}

li section button {
    border: none;
    padding: 10px;
}

.delBtn {
    border-radius: 0 4px 4px 0;
    background-color: tomato;
    color: white;
}

.delBtn:hover {
    background-color: rgb(151, 49, 31);
}

.editBtn {
    border-radius: 4px 0 0 4px;
}

#CompletedTaskCounter {
    position: absolute;
    bottom: 20px;
    font-size: 1rem;
    color: gray;
}